[Unit]
Description=Prometheus exporter for FreeRadius
Documentation=https://github.com/FreedomNetNL/freeradius_exporter

[Service]
Restart=on-failure
DynamicUser=yes
User=prometheus
EnvironmentFile=/etc/default/prometheus-freeradius-exporter
ExecStart=/usr/local/bin/freeradius-exporter $ARGS

[Install]
WantedBy=multi-user.target
